<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{#each fonts}}<link rel="preload" as="font" type="font/woff2" crossorigin="" href="{{this}}">{{/each}}
{{#each css}}<link rel="stylesheet" type="text/css" href="{{this}}">{{/each}}
{{#each js}}<script lang="text/javascript" src="{{this}}"></script>{{/each}}
{{#if search_index}}<script lang="text/javascript" src="{{search_index}}"></script>{{/if}}
</head>
<body{{#if data_path}} data-path="{{data_path}}"{{/if}}>
    <div id="container">
        <div id="search">
            <div id="search-form">
                <input id="search-input" placeholder="Click to search..." type="text" />
            </div>

            <h3 id="search-title" class="hidden title">Results</h3>

            <div id="search-results" class="hidden"></div>
        </div>

        <div id="content">
            {{> @partial-block}}
        </div>
    </div>
</body>
